<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="穷在闹市" />
		<!-- 作者 -->
		<meta name="revised" content="穷在闹市.v3, 2019/05/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>穷在闹市出品</title>
		
		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
		<script type="text/javascript" src="../../framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
		<script type="text/javascript" src="../../layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.css">
		<script src="../../framework/jquery-ui-1.10.4.min.js"></script>
		<script src="../../framework/jquery.mousewheel.min.js"></script>
		<script src="../../framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="../../framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		
		<!-- vue.js Ajax(resource)-->
		<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>             
		<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script> 
		
		<!-- ---- -->
		<link href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css" rel="stylesheet">   
		<script src="https://cdn.bootcss.com/json2/20160511/json2.js"></script>                          
		<script src="https://cdn.bootcss.com/vue/2.6.3/vue.min.js"></script>                             
		<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>               
		<script src="https://cdn.bootcss.com/element-ui/2.5.0/index.js"></script>                        
		
		<style>
			.layui-form{
				margin-right: 30%;
			}
			.layui-form-label{
				width: 100px;
			}
			.layui-input-block{
				margin-left: 130px;
			}
			.el-select .el-input {
				width: 110px;
			}
			
			.el-table .info-row {
				background: #c9e5f5;
			}
			
			#top {
				background: #009688;
				padding: 5px;
				overflow: hidden
			}
    	</style>
	</head>
	<body>	
		 <div id="test" class="cBody">             
	        <div id="top">          
	            <span style="float:right;"> 
	                <el-button type="text" @click="add" style="color:white">添加订单</el-button>
	                <el-button type="text" @click="deletenames" style="color:white">批量删除</el-button>        
	            </span>                     
	        </div>  
	
	        <br/>
	
	        <div style="margin-top:15px">
	           <el-input placeholder="请输入内容" v-model="criteria" style="padding-bottom:10px;">
	              <el-select v-model="select" slot="prepend" placeholder="请选择">
	              	 <el-option label="无条件" value="0"></el-option>
	                 <el-option label="时间" value="1"></el-option>
	                 <el-option label="订单号" value="2"></el-option>
	              </el-select>
	              <el-button slot="append" icon="search" v-on:click="search">搜索</el-button>
	          </el-input>       
	
	          <el-table
	            ref="testTable"       
	            :data="tableData"
	            style="width:100%"
	            border
	            :default-sort = "{prop: 'name', order: 'ascending'}"
	            @selection-change="handleSelectionChange"   
	            @row-click="handleclick"
	            :row-class-name = "tableRowClassName"
	            >
	            <el-table-column
	              prop="time"
	              label="订单日期"
	              sortable
	              show-overflow-tooltip>
	            </el-table-column >
	            
	            <el-table-column
	              prop="poid"
	              label="订单号"
	              sortable
	             >
	            </el-table-column>
	            
	           <!-- 
	           <el-table-column label="查看明细">
	              <template scope="scope">
	                <el-button
	                  size="small"
	                  type="danger"
	                  @click="jumptopd(scope.row)"
	                  >Look</el-button>
	              </template>
	            </el-table-column>
	             -->
	             
	            <el-table-column
	            type="selection">
	            </el-table-column>
	          </el-table>
	
	          <div align="center">
	              <el-pagination
	                  @size-change="handleSizeChange"
	                  @current-change="handleCurrentChange"
	                  :current-page="currentPage"
	                  :page-sizes="[5, 10, 15, 20]"
	                  :page-size="pagesize"
	                  layout="total, sizes, prev, pager, next, jumper"
	                  :total="totalCount">
	              </el-pagination>
	          </div>
	        </div> 
	    </div>
	    
		<script>
	    var vue = new Vue({
	            el:"#test",
	            data: {
	                //表格当前页数据
	                tableData: [],
					
	                //点击复选框记录id
	                poid:"",
	                
	                //多选数组
	                multipleSelection: [],
	
	                //请求的URL
	                url:'http://localhost:8888/purchaseOrdes',
	
	                //搜索条件
	                criteria: '',
	
	                //下拉菜单选项
	                select: '',
	
	                //默认每页数据量
	                pagesize: 5,
	
	                //默认高亮行数据id
	                highlightId: -1,
	
	                //当前页码
	                currentPage: 1,
	
	                //查询的页码
	                start: 1,
	
	                //默认数据总数
	                totalCount: 0,
	                
	                poid:0
	            },
	            created() {
	            	this.loadData(this.select,this.criteria, this.currentPage, this.pagesize);
	            },
	            methods: {
	                //从服务器读取数据
	                loadData: function(selectValue,criteria, pageNum, pageSize){
	                	
	                	var jsonKV={"selectValue":selectValue,"parameter":criteria, "pageNum":pageNum, "pageSize":pageSize};
	                	
	                	var self=this;
	                	
	                	
	               		$.ajax({
	                    	type:"get",
	                    	headers:{
	                    		ContentType: "application/json;charset=UTF-8",
	                    		Accept:"application/json; charset=utf-8"
	                    	},
	                    	url:"http://localhost:8888/purchaseOrdes",
	                    	data:{
	                    		"selectValue":selectValue,"parameter":criteria, "pageNum":pageNum, "pageSize":pageSize
	                    	},
	                    	success:function(data){
	                    		self.tableData=data.list;
	                    		self.totalCount=data.rowCount;
	                    	}
	                    });
	                },
	
	                //多选响应，累加选择的poid，作为删除的参数
	                handleSelectionChange: function(val) {
	                    this.multipleSelection = val;
	                },
	
	                //点击行响应
	                handleclick: function(row, event, column){
	                    this.highlightId = row.id;
	                },
	
	                //搜索
	                search: function(){
	                    this.loadData(this.select,this.criteria, this.currentPage, this.pagesize);
	                },
	
	                //跳转至订单添加页
	                add: function(){
	                	window.location.href="base_add.html";
	                },
	
	                //多项删除
	                deletenames: function(){
	                    if(this.multipleSelection.length==0)
	                        return;
	                    var array = [];
	                    this.multipleSelection.forEach((item) => {
	                        array.push(item.poid);
	                    })
	                    alert(array);
	                    this.$http.post(this.url,{"array":array,"_method":"delete"},{emulateJSON: true}).then(function(res){
	                        this.loadData(this.select,this.criteria, this.currentPage, this.pagesize);
	                    },function(){
	                        console.log('failed');
	                    });
	                },
	
	                //改变当前点击的行的class，高亮当前行
	                tableRowClassName: function(row, index){
	                   if(row.id == this.highlightId) {
	                      return 'info-row';
	                   }
	                },
	
	                //每页显示数据量变更
	                handleSizeChange: function(val) {
	                    this.pagesize = val;
	                    this.loadData(this.select,this.criteria, this.currentPage, this.pagesize);
	                },
	
	                //页码变更
	                handleCurrentChange: function(val) {
	                    this.currentPage = val;
	                    this.loadData(this.select,this.criteria, this.currentPage, this.pagesize);
	                },        
					
	                /*
	                jumptopd(row) {
	                	alert(row.poid);
	                }*/
	            },      
	          });
    	</script>  
	</body>

</html>